<ol class="carousel-indicators">
  <li data-target="#featJobCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#featJobCarousel" data-slide-to="1"></li>
  <li data-target="#featJobCarousel" data-slide-to="2"></li>
  <li data-target="#featJobCarousel" data-slide-to="3"></li>
  <li data-target="#featJobCarousel" data-slide-to="4"></li>
  <li data-target="#featJobCarousel" data-slide-to="5"></li>
</ol>
<!-- Carousel items -->
<div class="carousel-inner">
  <div class="active item">
    <a href="http://www.wherearemybooks.com" target="_blank">
      <%= image_tag "featured_this_month/WAMB-ad-960x250.png" %>
    </a>
  </div>
  <div class="item">
    <%= image_tag "featured_this_month/BridgeWee-ad-960x250.png" %>
  </div>
  <div class="item">
    <%= image_tag "featured_this_month/InternCITY-ad-960x250.png" %>
  </div>
  <div class="item">
    <%= image_tag "featured_this_month/Portonics-ad-960x250.jpg" %>
  </div>
  <div class="item">
    <%= image_tag "featured_this_month/DhakaTribune-ad-960x250.png" %>
  </div>
  <div class="item">
    <%= image_tag "featured_this_month/Kaspersky-ad-960x250.jpg" %>
  </div>
</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#featJobCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#featJobCarousel" data-slide="next">&rsaquo;</a>